/*tag selectors*/
body
{
margin:0px;
font-family: 'Gluten', cursive;
}
p{
  font-weight: normal;
  font-size: 1.2rem;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #FFADAD;
}
h2{
  color: #FFDAC7;
}
hr{
  background-color: inherit;
  border-style: dotted none none;
  border-width: 5px;
  border-color: black;
  width: 5%;
}
button{
  color: #FFDAC7;
  background-color: #FFADAD;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  border-style: none;
}
a{
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
}
form{
  margin-top: 20px;
}
label{
  display: inline-block;
  margin-top: 20px;
}
/*class selectors*/
.Top{
  margin-top: 0px;
  padding: 150px;
  background-color: #FFDAC7;
  position: relative;
}
.bottom-cloud{
  position: absolute;
  top: 350px;
  left: 100px
}
.top-cloud{
  position: absolute;
  top: 120px;
  right: 220px
}
.me{
  border-radius: 50%;
  border-style: solid;
  border-color: #FFADAD;
  border-width: 5px 20px 40px 60px;
  width: 421px;
  height: 421px;
}
.me:hover{
  background-color: #FFDAC7;
}
.skills{
  border-radius: 50%;
  width: 300px;
  height: 275px;
}
.webdev{
  width: 60%;
  margin-top: 100px;
  margin-bottom: 200px;
}
.writing{
  width: 60%;
  margin-top: 100px;
  margin-bottom: 200px;
}
.foot{
  margin-top: 75px;
  padding-top: 50px;
  padding-bottom: 75px;
  background-color: #FFADAD;
}
.links{
  color: white;
}
.links:hover{
  color: #A8E7E9;
}
.links:active{
  color: #FFEFBC;
}
.links:visited{
  color: #FFFEB7;
}
